<!-- ------------------------------------------------------nav bar -->
<nav class="navbar px-2 navbar-expand-lg navbar-light ">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
  
      <ul class="navbar-nav  float-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            INVESTMENT
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Stocks</a></li>
            <li><a class="dropdown-item" href="#">Bonds</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            BANKING
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Savings Accounts</a></li>
            <li><a class="dropdown-item" href="#">Certificate of Deposit</a></li>
          </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            PERSONAL
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Financial Liberty</a></li>
            <li><a class="dropdown-item" href="#">Taxes</a></li>
          </ul>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">UPDATES</a>
        </li>
  
        <li class="nav-item ">
          <a class="nav-link login" routerLink="/login">Login or Registration
            </a></li>
           
      </ul>
    </div>
  </div>
    </nav> 
  
  
  
  
  
  



<!-- ---------------------------------------------- home-->
<div class="banner-bg">
    <div class="container">
     <div class="row mt-5">
         <div class="col-md-8 col-sm-12">
           <div class="content">
             <h1>"Embark on your financial education journey with us! "</h1>
             <h6>Take the first step towards mastering financial concepts and building a solid foundation for your future
               success.</h6>
           </div>
            <button class="button1">Explore more</button>
         </div>
         <div class="col-md-4 col-sm-12">
   
           <div class="animie-img"></div>
   
   
         </div>
   </div>
    </div>
    </div>
   
   <br>
   
   
   <div class="container">
     <div class="row">
       <p>Let's start Learning...<p>
     </div>
   </div>
   
   
   
       <!-- =============================================== -->
   
       <div class="back1">
         <div class=" py-5 py-xl-8">
           <div class="container">
             <div class="row justify-content-md-center">
               <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                 <p class="display-5 mb-4 mb-md-5 text-center">Updates</p>
                 <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- ================================================= -->
       
     <div  id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
       <div class="carousel-inner">
           <div class="carousel-item active">
               <div class="card-wrapper container-sm d-flex  justify-content-around">
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 1.jpg" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                           </div>
   
                   </div>
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 2.jpg" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                       </div>
   
                   </div>
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 2.jpg" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                       </div>
   
                   </div>
               </div>
           </div>
         <div class="carousel-item">
               <div class="card-wrapper container-sm d-flex  justify-content-around">
                   <div class="wrap">
                     <div class="icon ">
                     <img src="./assets/carosel 3.png" width="100%" height="200px">
                     </div>
                     <div class="text-wrap">
                         <h3>Cam</h3>
                         <p>Cam is a 2018 American psychological horror film.</p>
                     </div> 
                      
                   </div>
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 3.png" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                       </div>
                      
                   </div>
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 1.jpg" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                       </div>
                       
                   </div>
               </div>
           </div>
           <div class="carousel-item">
               <div class="card-wrapper container-sm d-flex  justify-content-around">
                   <div class="wrap">
                     <div class="icon ">
                     <img src="./assets/carosel 3.png" width="100%" height="200px">
                     </div>
                     <div class="text-wrap">
                         <h3>Cam</h3>
                         <p>Cam is a 2018 American psychological horror film.</p>
                     </div> 
                      
                   </div>
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 3.png" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                       </div>
                      
                   </div>
                   <div class="wrap">
                       <div class="icon ">
                       <img src="./assets/carosel 1.jpg" width="100%" height="200px">
                       </div>
                       <div class="text-wrap">
                           <h3>Cam</h3>
                           <p>Cam is a 2018 American psychological horror film.</p>
                       </div>
   
                   </div>
               </div>
           </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
               data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
               data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
           </button>
       
   
   
   
   
   
   </div>
     </div>
   
   
   
   
   <!-- =================================================== -->
       <div class="back1">
         <div class=" py-5 py-xl-8">
           <div class="container">
             <div class="row justify-content-md-center">
               <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                 <p class="display-5 mb-4 mb-md-5 text-center">Our Best Courses</p>
                 <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
               </div>
             </div>
           </div>
         </div>
       </div>
   
       <!-- ==================================BEST COURSES================================== -->
   
   
   
   
   
     <div class="container">
       <div class="row">
         <div class="col-md-3 col-sm-12 ">
           <div class="card">
             <img height="250px" width="100%" src="./assets/ETF img.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">ETF</h5>
               <p class="card-text">An ETF, or exchange traded fund, is a marketable security that tracks an index,
                 a commodity, bonds, or a basket of assets like an index fund.</p>
               <a href="#" class="btn btn-primary">Read More...</a>
             </div>
           </div>
         </div>
         <div class="col-md-3 col-sm-12 ">
           <div class="card">
             <img height="250px" width="100%" src="./assets/bonds.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Bonds</h5>
               <p class="card-text">A bond is a debt security, like an IOU. Borrowers issue bonds to raise money from
                 investors willing to lend them money for a certain amount of time.</p>
               <a href="#" class="btn btn-primary">Read More...</a>
             </div>
           </div>
         </div>
         <div class="col-md-3 col-sm-12 ">
           <div class="card">
             <img height="250px" width="100%" src="./assets/stocks.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Stocks</h5>
               <p class="card-text">A stock is a security that represents the ownership of a fraction of the issuing
                 corporation. Units of stock are called "shares"</p>
               <a href="#" class="btn btn-primary">Read More...</a>
             </div>
           </div>
         </div>
         <div class="col-md-3 col-sm-12">
           <div class="card">
             <img height="250px" width="100%" src="./assets/trading.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Trading</h5>
               <p class="card-text">trading refers to the buying and selling of stocks, bonds, commodities,
                 currencies, or other financial securities for a short period to earn profits.</p>
               <a href="#" class="btn btn-primary">Read More...</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   
     <br>
     <!-- ====================Top tutors================= -->
     <!-- Testimonial 3 - Bootstrap Brain Component -->
     <div class="">
       <div class=" back py-5 py-xl-8">
         <div class="container">
           <div class="row justify-content-md-center">
             <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
               <h2 class="fs-6 text-secondary mb-2 text-uppercase text-center">Our Expert Trainers</h2>
               <p class="display-5 mb-4 mb-md-5 text-center">We deliver what we promise. See what clients are expressing
                 about us.</p>
               <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
             </div>
           </div>
         </div>
   
         <div class="container overflow-hidden">
           <div class="row gy-4 gy-md-0 gx-xxl-5">
             <div class="col-12 col-md-4">
               <div class="card border-0 border-bottom border-primary shadow-sm">
                 <div class="card-body p-4 p-xxl-5">
                   <figure>
                     <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                       src="./assets/investor1.jpg" alt="Luna John">
                     <figcaption>
                       <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                       <blockquote class="bsb-blockquote-icon mb-4">We were so impressed with the work they did for us.
                         They were able to take our vision and turn it into a reality, and they did it all on time and
                         within budget. We would highly recommend them to anyone looking for a reliable partner.
                       </blockquote>
                       <h4 class="mb-2">Luna John</h4>
                       <h5 class="fs-6 text-secondary mb-0">UX Designer</h5>
                     </figcaption>
                   </figure>
                 </div>
               </div>
             </div>
             <div class="col-12 col-md-4">
               <div class="card border-0 border-bottom border-primary shadow-sm">
                 <div class="card-body p-4 p-xxl-5">
                   <figure>
                     <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                       src="./assets/investor2.jpg" alt="Mark Smith">
                     <figcaption>
                       <div class="bsb-ratings text-warning mb-3" data-bsb-star="4" data-bsb-star-off="1"></div>
                       <blockquote class="bsb-blockquote-icon mb-4">We were looking for a company that could help us
                         develop a new website that was both visually appealing and user-friendly. We are so happy with the
                         results, and we would highly recommend them to anyone looking for a new website.</blockquote>
                       <h4 class="mb-2">Mark Smith</h4>
                       <h5 class="fs-6 text-secondary mb-0">Marketing Specialist</h5>
                     </figcaption>
                   </figure>
                 </div>
               </div>
             </div>
             <div class="col-12 col-md-4">
               <div class="card border-0 border-bottom border-primary shadow-sm">
                 <div class="card-body p-4 p-xxl-5">
                   <figure>
                     <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                       src="./assets/investor 3.jpg" alt="Luke Reeves">
                     <figcaption>
                       <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                       <blockquote class="bsb-blockquote-icon mb-4">We were looking for a company that could help us with
                         our branding. We needed a website and marketing materials. They were able to create a brand
                         identity that we loved. They worked with us to develop a logo that represented our company.
                       </blockquote>
                       <h4 class="mb-2">Luke Reeves</h4>
                       <h5 class="fs-6 text-secondary mb-0">Sales Manager</h5>
                     </figcaption>
                   </figure>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   
   
   
   
     <div class="back1">
       <div class=" py-5 py-xl-8">
         <div class="container">
           <div class="row justify-content-md-center">
             <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
               <p class="display-5 mb-4 mb-md-5 text-center">FAQ'S</p>
               <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
             </div>
           </div>
         </div>
       </div>
     </div>
   
     <div class="container">
       <div class="row justify-content-md-center">
         <div class="col-md-10 col-sm-12 ">
           <div class="accordion" id="accordionExample">
             <div class="accordion-item">
               <h2 class="accordion-header" id="headingOne">
                 <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                   Accordion Item #1
                 </button>
               </h2>
               <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                 <div class="accordion-body">
                   <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                   plugin adds the appropriate classes that we use to style each element. These classes control the overall
                   appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                   custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                   within the <code>.accordion-body</code>, though the transition does limit overflow.
                 </div>
               </div>
             </div>
             <div class="accordion-item">
               <h2 class="accordion-header" id="headingTwo">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                   data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   Accordion Item #2
                 </button>
               </h2>
               <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                 <div class="accordion-body">
                   <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                   plugin adds the appropriate classes that we use to style each element. These classes control the overall
                   appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                   custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                   within the <code>.accordion-body</code>, though the transition does limit overflow.
                 </div>
               </div>
             </div>
             <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                   data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   Accordion Item #3
                 </button>
               </h2>
               <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                 <div class="accordion-body">
                   <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                   plugin adds the appropriate classes that we use to style each element. These classes control the overall
                   appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                   custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                   within the <code>.accordion-body</code>, though the transition does limit overflow.
                 </div>
               </div>
             </div>
           </div>
   
   <!-- =============================================== -->
   
   
   <div class="back1">
     <div class=" py-5 py-xl-8">
       <div class="container">
         <div class="row justify-content-md-center">
           <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
             <p class="display-5 mb-4 mb-md-5 text-center">Courses offered</p>
             <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
           </div>
         </div>
       </div>
     </div>
   </div>
   
   <!-- ===================================================== -->
   
           <div class="container mt-5">
             <div class="row">
               <div class="col-md-3 col-sm-12">
                 <div class="box">
                   <a height="100px"width="400px"href="page1.html">Box 1</a>
                 </div>
                 
               </div>
               <div class="col-md-3 col-sm-12">
                 <div class="box">
                   <a height="100px"width="400px" href="page2.html" >Box 2</a>
                 </div>
                 
               </div>
               <div class="col-md-3 col-sm-12">
                 <div class="box">
                   <a height="100px"width="400px" href="page3.html">Box 3</a>
                 </div>
                 
               </div>
               <div class="col-md-3 col-sm-12">
                 <div class="box">
                   <a height="5px"width="400px" href="page4.html">Box 4</a>
                 </div>
                 
               </div>
             </div>
           </div>